.profile-episode-wrapper {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.profile-episode-img-container {
  width: 500px;
  height: 281px;
  background-color: #3a3a3c;
  overflow: hidden;
  position: relative;
}

.profile-episode-new-series {
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color: #141522;
  border-radius: 5px;
}

.profile-episode-next-air-date {
  position: absolute;
  left: 5px;
  bottom: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color: #141522;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.profile-episode-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-episode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.profile-episode-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-show-name {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
}

.profile-episode-numbers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.profile-season-episode-number {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(127, 127, 131);
}

.profile-episodes-left {
  background: #ededed;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(127, 127, 131);
}

.profile-episodes-left.hide {
  visibility: hidden;
}

.profile-episode-days-until {
  color: rgb(127, 127, 131);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 768px) {
  /* mobile */

  .profile-episode-wrapper {
    flex-direction: row;
    width: 100%;
    height: 110px;
  }

  .profile-episode-img-container {
    width: 50%;
    height: 110px;
    background-color: #3a3a3c;
    overflow: hidden;
  }

  .profile-episode-container {
    width: 100%;
  }

  .profile-show-name {
    font-size: 0.9rem;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .profile-season-episode-number {
    font-size: 0.9rem;
  }

  .profile-episode-name {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
  }

  .profile-episodes-left {
    font-size: 0.8rem;
  }

  .profile-episode-days-until {
    font-size: 0.9rem;
  }

  .profile-episode-new-series {
    font-size: 0.8rem;
    top: auto;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border-radius: 0px;
    background-color: white;
  }

  .profile-episode-next-air-date {
    font-size: 0.8rem;
    left: auto;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border-radius: 0px;
    background-color: white;
  }
}
