.show-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 30px;
}

@media all and (max-width: 1004px) {
  .show-main-container {
    flex-direction: column;
  }
}
