.fullCast-container {
  margin-top: 30px;
  margin-left: 3vw;
  margin-right: 3vw;
}

.backShow-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: none;
  color: #eeeeee;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: -10px;
  cursor: pointer;
  z-index: 1;
  border: none;
}

.cast-crew-wrapper {
  display: flex;
  flex-direction: row;
  /* gap: 40px; */
}

.fullCast-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  padding-left: 10px;
  padding-right: 40px;

  border-right: 1px solid rgba(255, 255, 255, 0.445);
}

.fullCrew-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  padding-left: 40px;
  padding-right: 10px;
}

.cast-id-full {
  background-color: aliceblue;
  color: #212237;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  text-decoration: none;
  height: 180px;
}

.cast-img {
  width: 280px;
  height: 230px;
  object-fit: cover;
}

.cast-no-img {
  width: 220px;
  height: 230px;
  border-radius: 8px;
  object-fit: cover;
}

.cast-info-div {
  width: 100%;
  padding-left: 10px;
}

.cast-name {
  white-space: nowrap;
  margin-bottom: -10px;
  cursor: pointer;
}

.cast-subinfo:nth-child(2) {
  margin-top: 15px;
}

.cast-subinfo {
  margin-bottom: 0;
  margin-top: 5px;
  color: #a0a0a9;
}

.fullCast-fullCrew-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.fullCast-fullCrew-btn {
  cursor: pointer;
  background-color: #e7e7e7;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  color: black;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 700;
}

.fullCast-fullCrew-btn.active {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.fullCastCrew-title {
  border: 10px solid;
  border-image-slice: 0 0 0 1;
  border-width: 8px;
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d);
  padding-left: 10px;
  margin-bottom: -10px;
}

.fullCast-div.active,
.fullCrew-div.active {
  width: 100%;
  padding: 0;
  border: none;
}

@media all and (max-width: 1120px) {
  .cast-crew-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .cast-id-full {
    width: 100%;
  }

  .fullCast-div {
    width: 100%;
    padding: 0;
    border: none;
  }

  .fullCrew-div {
    width: 100%;
    padding: 0;
  }
}

@media all and (max-width: 768px) {
  /* mobile */
  .cast-img {
    padding-right: 15px;
  }

  .cast-no-img {
    width: 152px;
    margin-right: 15px;
  }

  .cast-info-div {
    padding-left: 0;
  }

  .fullCastCrew-title {
    font-size: 1.6rem;
  }

  .backShow-btn {
    margin-left: -20px;
  }

  .cast-id-full {
    height: 150px;
  }

  .cast-info-div {
    height: 130px;
  }
}
