.profile-main-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 9vw;
  margin-right: 9vw;
  overflow: hidden;
}

.popup {
  visibility: hidden;
  opacity: 0;
  z-index: 500;
}

@media all and (max-width: 665px) {
  .profile-main-content-wrapper {
    overflow-x: hidden;
  }
}

/* MOBILE */
@media all and (max-width: 499px) {
  .profile-main-content-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .popup {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 350ms ease-in, visibility 0ms ease-in 350ms;
  }

  .popup.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 350ms ease-in, visibility 0ms ease-in 0ms;
  }

  .message-popup {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    color: #000;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    font-size: 0.95rem;
  }
}
