.coverSelection_container {
  position: fixed;
  left: 0;
  top: 60px;
  width: 100vw;
  z-index: 6;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  height: 94vh;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease-in-out;
}

.coverSelection_container.isShown {
  opacity: 1;
  visibility: visible;
}

.coverSelector-wrapper {
  position: fixed;
  left: -100vw;
  top: 0px;
  background: #ffffff;
  z-index: 6;
  color: #000000;
  width: 60vw;
  height: 94vh;
  padding: 25px;
  overflow-y: auto;
  transition-delay: 0.6s;
  transition: all 0.6s ease-in-out;
}

.coverSelector-wrapper.showSelector {
  left: 0vw;
}

.coverTitle_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.covers_back_icon {
  cursor: pointer;
}

.coverSection-title {
  font-size: 1.8rem;
}

.btn-save-changes-cover {
  color: #000000;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #000000;
  color: #e7e7e7;
  cursor: pointer;
  white-space: nowrap;
}

.btn-save-changes-cover:hover {
  background-color: #e7e7e7;
  color: #000000;
}

.showCoverName {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #e7e7e7;
  cursor: pointer;
  min-height: 55px;
}

.showCoverName:hover {
  background-color: #cecece;
}

.defaultSelection {
  padding: 3px;
}

.showsAllCoverPhotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.cover-img-preview {
  cursor: pointer;
  max-width: 500px;
  height: 281px;
  object-fit: cover;
}

.cover-img-preview:active {
  border: 4px solid black;
}

.closeButton_covers_div {
  position: absolute;
  left: -100vw;
  top: 50px;
  transition-delay: 0.6s;
  transition: all 0.6s ease-in-out;
}

.closeButton_covers_div.showBtn {
  left: 60vw;
}

.closeButton_covers {
  font-size: 1.8rem;
  font-weight: 800;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  width: 60px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000000;
}

.closeButton_covers:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* MOBILE */
@media all and (max-width: 499px) {
  .coverSelection_container {
    height: 100vh;
    top: 55px;
  }

  .coverSelector-wrapper {
    height: 100vh;
    top: 55px;
    width: 90vw;
    padding: 10px;
    padding-bottom: 100px;
  }

  .coverSection-title {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .coverSection-title.selectedImage {
    width: 50%;
  }

  .btn-save-changes-cover {
    font-size: 0.9rem;
  }

  .showCoverName {
    font-size: 1rem;
  }

  .cover-img-preview {
    width: 100%;
    height: auto;
  }

  .closeButton_covers_div {
    -webkit-tap-highlight-color: transparent;
  }

  .closeButton_covers_div.showBtn {
    left: 85vw;
  }

  .closeButton_covers:hover {
    background-color: white;
    color: black;
  }
}

@media all and (display-mode: standalone) {
  .coverSelection_container {
    top: 40px;
  }

  .coverSelector-wrapper {
    top: 40px;
  }

  .closeButton_covers_div {
    top: 30px;
  }
}
