.title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-section-title {
  border: 10px solid;
  border-image-slice: 0 0 0 1;
  border-width: 8px;
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d);
  padding-left: 10px;
}

.viewMore-button-profile {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: all 150ms ease-in;
  color: black;
  background-color: #ffffff;
  border: 3px solid transparent;
}

.viewMore-button-profile:hover {
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: transparent;
}

.details-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-right: 0;
  margin-bottom: -10px;
}

.divider {
  display: flex;
  height: 20px;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1;
}

.glow:before {
  background: linear-gradient(to right, blue, hotpink);
  height: 6px;
  filter: blur(8px);
  border-radius: 5px;
  padding-left: 3vw;
}

.glow:after {
  background: linear-gradient(to left, blue, hotpink);
  height: 6px;
  filter: blur(8px);
  border-radius: 5px;
}

.upToDate-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.setting-icon {
  width: 25px;
  cursor: pointer;
}

.upToDate-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin-left: 3vw; */
  margin-top: -30px;
}

.filter-title {
  cursor: pointer;
  background-color: #e7e7e7;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  color: black;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 700;
}

.filter-title.active {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.no-upcoming-msg {
  background-color: #e7e7e7;
  color: black;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  margin-top: -10px;
}

.no-upcoming-msg.withFilters {
  margin-top: -5px;
}

.find-shows-msg {
  color: black;
  margin-left: -5px;
  margin-right: -5px;
}

.history-card-wrapper {
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
}

.history-profile-show-img-div {
  position: relative;
  margin-bottom: -6px;
}

.history-badge-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.history-info-card {
  width: 85%;
  animation: fadeIn 1s ease-in-out forwards;
}

.history-info-card.markedAnimation {
  animation: markedAnimation 0.5s ease-in-out;
}

.show-name-profile-history {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  text-decoration: none;
  display: block;
  /* padding-top: 20px; */
}

.episode-card-img {
  width: 100%;
  height: 281px;
  object-fit: cover;
}

.episode-num-card-history {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: 500;
}

.markIcon-history {
  position: relative;
  right: 20px;
  cursor: pointer;
  opacity: 1;
}

.history-container {
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.loadMoreHistory-btn {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: #383838;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 100ms ease-in;
  color: white;
}

.loadMoreHistory-btn:hover {
  background-color: rgb(22, 22, 22);
}

.history-card-img {
  width: 250px;
}

@media all and (max-width: 980px) {
  .loadMoreHistory-btn {
    width: 90vw;
  }

  /* .history-card-wrapper {
    width: 90vw;
  } */
}

@media all and (max-width: 740px) {
  .history-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .history-profile-show-img-div {
    width: 40%;
  }
}

@media all and (max-width: 665px) {
  .history-card-wrapper {
    overflow-y: hidden;
  }

  .profile-episode-name-history {
    width: 150px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media all and (max-width: 620px) {
  .profile-episode-name-history {
    width: 150px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/* MOBILE */
@media all and (max-width: 499px) {
  .title-button {
    margin-top: -10px;
  }

  .profile-section-title {
    font-size: 1.7rem;
    margin-left: 3vw;
  }

  .viewMore-button-profile {
    font-size: 0.9rem;
    transition: none;
    margin-right: 3vw;
  }

  .viewMore-button-profile:hover {
    color: black;
    background-color: #ffffff;
    border: 3px solid transparent;
  }

  .filter-title {
    font-size: 0.9rem;
  }

  .episode-card-img {
    object-fit: cover;
    width: 100vw;
    height: 210px;
  }

  .upToDate-filters {
    margin-left: 3vw;
  }

  .no-upcoming-msg {
    font-size: 1.1rem;
    /* margin-left: 3vw; */
  }

  .history-card-wrapper {
    width: 100vw;
  }

  .history-profile-show-img-div {
    width: 40%;
  }

  .history-info-card {
    width: 48vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .show-name-profile-history {
    font-size: 0.9rem;
    /* padding-top: 10px; */
    /* margin-bottom: -5px; */
  }

  .markIcon-history.grid {
    right: 0px;
  }

  .history-container {
    margin-bottom: 30px;
  }

  .loadMoreHistory-btn {
    width: 100vw;
    border-radius: 0;
  }

  .history-card-img {
    width: 150px;
  }

  .episode-num-card-history {
    font-size: 0.9rem;
  }

  .profile-episode-name-history {
    font-size: 0.9rem;
  }
}
