.seasons-episodes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seasons-episodes-title {
  border: 10px solid;
  border-image-slice: 0 0 0 1;
  border-width: 8px;
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d);
  padding-left: 10px;
}

.seasons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.season-div {
  background-color: #a0a0a9;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.season-div:hover {
  background-color: white;
}

.season-div.active {
  background-color: white;
}

.watchingNow-p {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgb(48, 48, 48, 0.4);
  backdrop-filter: blur(30px);
  position: absolute;
  left: 10px;
  bottom: -9px;
  padding: 4px;
  border-radius: 5px;
}

.markSeason-check {
  position: absolute;
  right: 20px;
  bottom: 7px;
  color: rgb(48, 48, 48, 0.4);
}

.markSeason-check:hover {
  color: rgb(0, 211, 0);
}

/* MOBILE */
@media all and (max-width: 499px) {
  .seasons-episodes-title {
    font-size: 1.6rem;
  }

  .watchingNow-p {
    font-size: 0.8rem;
    bottom: -4px;
  }

  .season-div {
    font-size: 1.3rem;
  }

  .watchingNow-p {
    bottom: -7px;
  }

  .markSeason-check {
    right: 15px;
    bottom: 6px;
  }
}
