.episodes-container {
  display: flex;
  flex-direction: column;
}

.episode-div {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.episode-image-container {
  width: 30%;
  padding: 0;
  height: 221px;
}

.episode-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.show-no-img-overview {
  width: 101%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-right: 2%;
}

.episode-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  padding-left: 20px;
  position: relative;
}

.episode-num-title {
  width: 100%;
  overflow: hidden;
}

.episode-num {
  font-size: 1.2rem;
  font-weight: 600;
}

.episodeMoreInfo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin-top: -25px;
  margin-bottom: -15px;
}

.episode-more-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #9b9494;
  font-size: 0.9rem;
  white-space: nowrap;
}

.episode-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.upcoming-days-div {
  width: 30%;
  display: flex;
  justify-content: center;
}

.h3-until-episode {
  text-align: center;
  font-weight: 500;
  color: rgb(160, 160, 169);
}

.noEpisodesMessage {
  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

@media all and (max-width: 955px) {
  .episode-info-container {
    height: 150px;
    padding-left: 10px;
  }

  .episode-image-container {
    width: 50%;
    padding: 0;
    height: 150px;
  }
}

/* MOBILE */
@media all and (max-width: 768px) {
  /* mobile */
  .episode-image-container {
    width: 50%;
    padding: 0;
    height: 150px;
  }

  .episodeMoreInfo-wrapper {
    width: 95%;
    gap: 5px;
    margin-left: -2px;
  }

  .episode-more-info {
    font-size: 0.85rem;
    gap: 3px;
    padding-left: 2px;
  }

  .h3-until-episode {
    margin-right: 5px;
    width: 50px;
    font-size: 1.1rem;
  }
}
