.show-cast-crew-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show-cast-crew-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.show-cast-crew-card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}

.show-cast-crew-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.show-cast-crew-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

@media all and (max-width: 768px) {
  /* mobile */

  .show-cast-crew-name {
    font-size: 1rem;
    /* font-weight: 600;
  margin: 0;
  padding: 0; */
  }
}
