.movie-general-info-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movie-general-info-titles {
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.movie-general-info-details {
  font-size: 1.1rem;
}

.movie-general-info-socials-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.movie-general-info-social-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.movie-general-info-social-img.fb:hover {
  color: rgb(72, 126, 235);
}

.movie-general-info-social-img.instagram:hover {
  color: #eb43b6;
}

.movie-general-info-social-img.xTwitter:hover {
  color: rgb(0, 0, 0);
}

.movie-general-info-social-img.imdb:hover {
  color: rgb(243, 206, 19);
}

.movie-general-info-networks-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.movie-general-info-networks-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.movie-general-info-logos-img {
  width: 90px;
}

.movie-general-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.movie-general-info-language {
  font-size: 1.1rem;
  text-transform: uppercase;
}

@media all and (max-width: 768px) {
  /* mobile */
  .movie-general-info-wrapper {
    width: 100%;
    gap: 20px;
  }

  .movie-general-info-titles {
    font-size: 1.1rem;
  }

  .movie-general-info-details {
    font-size: 0.9rem;
  }
}
