.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  margin-bottom: 140px;
  gap: 20px;
}

@media all and (max-width: 690px) {
  .home-content {
    margin-bottom: 220px;
  }
}

@media all and (display-mode: standalone) {
  .home-content {
    margin-bottom: 0px;
  }
}
