.slider-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  gap: 2%;
  position: relative;
  max-width: 100%;
}

.title-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}

.viewMore-button {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: all 150ms ease-in;
  color: black;
  background-color: #ffffff;
  border: 3px solid transparent;
}

.viewMore-button:hover {
  color: #ffffff;
  border: 3px solid #ffffff;
  background-color: transparent;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  background-color: rgb(12, 13, 13, 0.5);
  z-index: 0;
  margin-bottom: 20px;
}

.img-trend-container {
  position: relative;
  box-shadow: 0px 60px 54px -40px rgba(0, 0, 0, 0.75) inset;
  cursor: pointer;
  background-color: transparent;
  margin: auto;
  overflow: hidden;
  width: fit-content;
}

.slider-img {
  width: 235px;
  height: 352px;
  object-fit: cover;
  z-index: -1;
  position: relative;
  margin-bottom: -6px;
  transition: all 0.3s;
  transform: scale(1);
}

.readMore-btn {
  display: none;
}

.img-trend-container:hover .slider-img {
  transform: scale(1.1);
}

.slider-title {
  text-overflow: ellipsis;
  overflow: hidden;
  width: fit-content;
  max-width: 211px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.slider-num {
  position: absolute;
  margin-left: -190px;
  margin-top: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  color: #141522;
  z-index: 2;
}

.slider-section {
  border: 10px solid;
  border-image-slice: 0 0 0 1;
  border-width: 8px;
  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d);
  padding-left: 10px;
}

/* MOBILES */
@media all and (max-width: 453px) {
  .title-link {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .slider-div {
    flex-wrap: nowrap;
    overflow: auto;
    gap: 30px;
    justify-content: flex-start;
  }

  .slider-num {
    margin-left: -130px;
    margin-top: 12px;
    font-size: 0.9rem;
  }

  .slider-title {
    width: 180px;
    font-size: 1rem;
  }

  .slider-img {
    width: 180px;
    height: 280px;
    transition: none;
    transform: none;
  }

  .img-trend-container:hover .slider-img {
    transform: none;
  }

  .slider-section {
    font-size: 1.6rem;
  }

  .viewMore-button {
    font-size: 0.9rem;
    transition: none;
  }

  .viewMore-button:hover {
    color: black;
    background-color: #ffffff;
    border: 3px solid transparent;
  }

  .slider-content {
    max-width: 180px;
    min-height: 180px;
  }
}
