.suggestion-container {
  max-height: 700px;
  position: relative;
  width: 100vw;
  max-width: 100%;
}

.suggestion-divs {
  position: absolute;
  bottom: 100px;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suggest-title {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  text-shadow: 2px 2px 0 rgb(0, 0, 0, 0.6);
  margin-bottom: -10px;
  margin-top: 0;
  text-align: left;
  cursor: pointer;
}

.div-suggest-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 80vw;
}

.carousel {
  object-fit: cover;
  max-width: 100%;
}

.genres-wrapper {
  position: relative;
  top: 5px;
}

.suggest-genres {
  background-color: #eee;
  border-radius: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 0;
  margin-top: 5px;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

.suggest-overview {
  width: 55%;
  text-align: left;
  text-shadow: 0 3px 0 #444;
  font-weight: 400;
}

@media all and (max-width: 816px) {
  .suggestion-divs {
    top: 40%;
    left: 5%;
  }

  .suggest-title {
    font-size: 3rem;
    width: 98vw;
  }

  .suggestion-container {
    height: 500px;
  }

  .suggest-img {
    margin-top: 70px;
    object-fit: cover;
    width: 50vw;
    height: 450px;
  }
}

@media all and (max-width: 499px) {
  .suggestions-wrapper {
    margin-top: -20px;
  }

  .suggestion-divs {
    bottom: -100px;
    left: 0;
  }

  .suggest-title {
    font-size: 1.8rem;
    width: 100vw;
    text-align: center;
  }

  .genres-wrapper {
    top: 10px;
  }

  .div-suggest-genres {
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .suggest-genres {
    font-size: 0.8rem;
  }
}
