.App {
  position: relative;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.standalone-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
}

.loader-div-global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader-div-global p {
  margin-top: -10px;
}

/* MOBILE */
@media screen and (max-width: 499px) {
  .loader-div-global {
    height: 80vh;
  }
}
