.App {
  position: relative;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.standalone-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
}

.layout-outlet {
  margin-bottom: 100px;
}

@media all and (display-mode: standalone) {
  .layout-outlet {
    margin-bottom: 0px;
  }
}
